*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 98%;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
}

.slider-contenedor{
    width: 100%;
    display: flex;
    
}

.contenido-slider{
    width: 50%;
    height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    
}

.contenido-slider:nth-child(1){
    background: linear-gradient(to bottom, rgb(238, 77, 77), rgb(157, 45, 45));
    color: #fff;
}

.contenido-slider:nth-child(2){
    background: linear-gradient(to bottom, rgb(8, 182, 8), rgb(1, 74, 1));
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: linear-gradient(to bottom, rgb(8, 79, 195), rgb(2, 46, 93));
    color: #fff;
}

.contenido-slider:nth-child(4){
    background: linear-gradient(to bottom, rgb(135, 183, 131), rgb(60, 75, 57));
    color: #fff;
}

.contenido-slider:nth-child(5){
    background: linear-gradient(to bottom, rgb(238, 77, 77), rgb(157, 45, 45));
    color: #fff;
}

.contenido-slider > img{
    width: 40%;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: rgb(255, 255, 255);
    background: #892323;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

a.hfondo:hover{
    background-color: rgb(106, 12, 12);
    transition: var(--tran-05);
}


@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}



/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_Fortnite.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://www.global-esports.news/wp-content/uploads/2021/12/League-of-Legends-Event-Pass.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://assets.reedpopcdn.com/rocket-league_nhNtSZC.jpg/BROK/thumbnail/1600x900/format/jpg/quality/80/rocket-league_nhNtSZC.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
